# DASHBOARD & UI 
streamlit
streamlit-option-menu
pandas
plotly
folium
streamlit-folium

# GEOSPATIAL & GEOMETRY 
shapely

# DATABASE & ENVIRONMENT
python-dotenv
psycopg2-binary

# UTILITIES & DATETIME 
python-dateutil

# FORECASTING 
prophetgit